html {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background-color: darkslateblue;
  font-family: 'Courier New', Courier, monospace;
}

button {
  display: flex;
  width: 15vmin;
  height: 11vmin;
  font-size: 5vmin;
  font-weight: 600;
  border-radius: 10%;
  border-style: none;
  justify-content: center;
  align-items: center;
  border: 0.4vmin solid black;
  background-color: lightsalmon;
}

button:hover {
  background-color: lightgoldenrodyellow;
}

.container {
  width: 60vmin;
  background-color: black;
  border: 1.5vmin solid black;
  overflow: hidden;
}

.display {
  height: 10vmin;
  text-align: end;
  font-weight: 600;
  font-size: 7.5vmin;
  align-content: center;
  background-color: white;
  background-color: gainsboro;
  padding-right: 1vmin;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  border-top: 1.5vmin solid black;
}

.number {
  flex-grow: 2;
}

.result,
.operator {
  background-color: lightgreen;
}

.other {
  background-color: lightskyblue;
}